




html{
	box-sizing: border-box;
	font-family: helvetica;
	color: #cccccc
}

*, *:after, *:before
 {box-sizing: inherit;}

li{
	list-style-type: none;
}


li.octocat > a > img {
	height:400px;
	width:400px;
	border:1px solid #ccc;
	border-radius: 3px;
	margin:5px;
}

li.octocat{
	border-bottom: 1px solid #b8babc;
	margin: 20px 20px;
	margin-bottom: 20px;
}

ul{
	display:flex;

}


.authors > li > a > img{
    height: 25px;
    width: 25px;
}

.authors > img {
	height: 30px
	width: 30px;
}


.authors {
	justify-content: flex-end;
	
}


.image-footer{
	margin:5px;
	padding: 0px 10px;
}

span{
	color: grey;
	font-weight: bold;
}

div.image-caption {
	display:flex;
	float:right;
}

span.image-number:before{
	content:"#";
}


a{
	color:black;
	font-weight: bold;
	padding:0px 4px 0px;
	justify-content: flex-end;
}
